Enter Observation for <%= @experiment.title %>
<%= form_for @observation, url: {action: "create"} do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>

  <%= f.label :status, "No Issues", :status => 'green' %>
  <%= f.radio_button :status, 'green' %>
  <%= f.label :status, "Minor Issue(s)", :status => 'yellow' %>
  <%= f.radio_button :status, 'yellow' %>
  <%= f.label :status, "Needs Attention", :status => 'red' %>
  <%= f.radio_button :status, 'red' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
