<% if current_user %>
  <h1>Experiments</h1>

  <h2>Projects you are involved in</h2>
  <% @experiments.each do |experiment| %>
    <% experiment.users.each do |user| %>
      <% if user.id == current_user.id  %>
        <li>
        <%= link_to experiment.title, user_experiment_path(current_user, experiment) %>
        || Project Administrator: <%= experiment.project_admin.username %>
        </li>
      <% end %>
    <% end %>
  <% end %>

  <h2>Projects you can apply to </h2>
  <% @experiments.each do |experiment| %>
  <% experiment.users.each do |user| %>
    <% if user.id != current_user.id %>
      <li>
      <%= link_to experiment.title, user_experiment_path(current_user, experiment) %>
      || Project Administrator: <%= experiment.project_admin.username %>
      </li>
    <% end %>
  <% end %>
<% end %>

<% if current_user.global_admin? == true %>
  <h2>Proposals</h2>
  <% @experiments.each do |experiment| %>
    <% if experiment.approved? != true %>
    <li>
      <%= experiment.title %>
    </li>
    <% end %>
  <% end %>
<% end %>


  <%= link_to "Propose Experiment", new_user_experiment_path(current_user) %>



  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
  <% end %>

<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

