<h1>Create an experiment</h1>


<%= form_for @experiment, url: {action: "create"} do |f| %>
  <%= f.hidden_field :project_admin_id, :value => current_user.id %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :hypothesis %>
  <%= f.text_field :hypothesis %>
  <br>
  <%= f.label :summary %>
  <%= f.text_field :summary %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit %>
<% end %>
