<h1><%= @experiment.title %></h1>

<p>Current staff working on experiment:</p>
<% @teams.each do |user| %>
  <%= user.user.username %></br>
<% end %>



<br>
<% if current_user.global_admin? == true && @experiment.approved? != true %>
  <%= form_for @experiment, url: user_experiment_approval_path(current_user, @experiment) do |f| %>
  <%= f.hidden_field :approved?, :value => true %>
  <%= f.submit value: "Approve experiment" %>
<% end %>

<% end %>
<br>

<ul>
  <li>
    Hypothesis:
    <%= @experiment.hypothesis %>
  </li>
  <li>
    Summary:
    <%= @experiment.summary %>
  </li>
  <li>
    Body:
    <%= @experiment.body %>
  </li>
</ul>


<% @experiment.users.each do |user| %>
  <% if user.id == current_user.id %>
    <%= link_to "Write Observation", new_user_experiment_observation_path(current_user,@experiment) %>
  <% else %>
    <%= link_to "Apply to work on experiment", user_experiment_applications_path(current_user, @experiment) %>
  <% end %>
<% end %>
<br>
<% if @experiment.project_admin == current_user %>
  Pending applications

  show a list of all users that filled out application form (in other views)

  when button is clicked, they are added as a member of this experiment

  experiment.users << user <---- do this shit somehow when the global admin presses the approve button

<% end %>
<br>
<br>

Observations
<br>
<br>

<style>
  #red {
    color: red;
  }

  #green {
    color: green;
  }

  #yellow {
    color: yellow;
  }

</style>

<% @experiment.observations.each do |observation| %>
    <% if observation.status == 'green' %>
      <li id="green">
        <%= link_to observation.title, user_experiment_observation_path(current_user, @experiment, observation) %>
      </li>
    <% end %>
    <% if observation.status == 'yellow' %>
      <li id="yellow">
        <%= link_to observation.title, user_experiment_observation_path(current_user, @experiment, observation) %>
      </li>
    <% end %>
    <% if observation.status == 'red' %>
      <li id="red">
        <%= link_to observation.title, user_experiment_observation_path(current_user, @experiment, observation) %>
      </li>
    <% end %>
<% end %>

<%= link_to "Go back", user_experiments_path(current_user) %>



